* {
	box-sizing: border-box;
	/* margin: 0;
                padding: 0; */
	/* font-size: 0; */
	font-family: sans-serif, 'Kosugi Maru';
	color: #4e5562;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	background-color: #F4ECCF;
	margin: 0;
}

.div_bg {
	position: relative;
	width: 100%;
	height: 800px;
	display: inline-block;
}

.bg_1 {
	display: inline-block;
	width: 100%;
	position: absolute;
	opacity: 0.8;
	z-index: -2;
}

.bg_range {
	position: absolute;
	width: 90%;
	height: 80%;
	margin: 5%;
	background-color: rgba(255, 255, 255, 0.3);
	/* opacity: 0.2; */
	/* border-style: groove; */
	border-radius: 50px;
	z-index: -1;
}

.left {
	display: inline-block;
	width: 45%;
	height: 100%;
	top: 5%;
	vertical-align: top;

	/* border-style: double; */
}

.right {
	display: inline-block;
	/* position: relative; */
	width: 50%;
	height: 100%;
	margin-left: 20px;
	top: 5%;
	vertical-align: top;
	margin-left: 0;

	/* border-style: double; */
}

.single-item {
	width: 500px;
	margin: 0 auto;
	left: 10%;
	top: 30%;
	/* border-style: double; */
}

.slick-list {
	border-radius: 10%;
}

.single-item img {
	width: 500px;
	height: 400px;
	/* border-radius: 5%; */
}

.information {
	width: 500px;
	margin: 0 auto;
	position: relative;
	/* left: 15%; */
	top: 40%;
	color: #4e5562;
	/* border-style: double; */
}

.Sidebar {
	position: relative;
	width: 30%;
}

.act {
	font-size: 30px;
	position: relative;
	letter-spacing: 10px;
	/* border-style: double; */
}

.text {
	letter-spacing: 2px;
	line-height: 25px;
	font-size: 18px;
}

.buttongroup {
	position: relative;
	left: 6%;
	top: 55%;
	width: 80%;
	margin: 0 auto;
	/* border-style: double; */
}

.button1, .button2 {
	background-color: white;
	color: #4fbbc4;
	border-style: none;
	/* border: 2px solid #008CBA; */
	font-size: 20px;
	border-radius: 20px;
	padding: 5px 15px 5px 15px;
	margin: 8px;
}

.button1:hover, .button2:hover {
	background-color: #4fbbc4;
	color: white;
}

.block_pagetop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 90;
	/* border-style: double; */
}

.block_pagetop a {
	border-radius: 80px;
	display: block;
	width: 60px;
	height: 60px;
	background: #EEEEEE;
	opacity: 0.6;
	font-size: 16px;
	position: relative;
	text-align: center;
	line-height: 80px;
	transition: all 0.5s 0s ease;
}

.block_pagetop a span {
	display: block;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -6px;
	width: 12px;
	height: 14px;
	background: url("<%=request.getContextPath()%>/img/activity-img/arrow.png") no-repeat
		center center;
	background-size: 26px auto;
	transition: all 0.5s 0s ease;
}

.hide {
	transform: translateX(120%);
}
a{
	
}