* {
	box-sizing: border-box;
	/* margin: 0;
            padding: 0; */
	/* font-size: 0; */
	font-family: sans-serif, 'Kosugi Maru';
	color: #4e5562;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	background-color: #d3c8af;
	margin: 0;
}

.div_bg {
	position: relative;
	width: 100%;
	height: 464px;
	display: inline-block;
}

.bg_1 {
	display: inline-block;
	width: 100%;
	position: absolute;
}

.bg_range {
	position: relative;
	width: 90%;
	height: max-content;
	padding: 50px 0;
	margin: 0 5%;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50px;
	/* z-index: -1; */
}

.create_data {
	position: relative;
	width: 80%;
	height: 850px;
	margin: 0 10%;
	line-height: 35px;
	/* border-style: groove; */
}

.create_infor {
	position: relative;
	width: 50%;
	height: 100%;
	left: 2%;
	margin: 0;
	color: #4e5562;
	display: inline-block;
	/* border-style: groove; */
}

.create_pic {
	position: absolute;
	width: 45%;
	height: 100%;
	left: 53%;
	top: 49%;
	display: inline-block;
	/* border-style: groove; */
}

.preview {
	position: relative;
	width: 70%;
	height: 30%;
	left: 25%;
	top: 5%;
	display: inline-block;
	border: 1px solid rgb(104, 104, 104);
}

#preview img.preview_img {
	width: 100%;
}

.preview_on {
	position: relative;
	width: 70%;
/* 	height: 50%; */
	left: 25%;
	top: 5%;
	display: inline-block;
	border: none;
}

.pic_text {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	color: rgb(104, 104, 104);
}

.button {
	position: relative;
	left: 25%;
	top: 30px;
}

.button1 {
	position: relative;
	background-color: white;
	color: #4fbbc4;
	border-style: none;
	font-size: 20px;
	border-radius: 20px;
	padding: 5px 15px 5px 15px;
	margin: 30px auto;
	display: table;
}

.note {
	position: relative;
	display: table;
	font-size: 14px;
	color: #4e5562;
	margin: 0 auto;
}

.button1:hover {
	background-color: #4fbbc4;
	color: white;
}

.greenleaf {
	position: relative;
	width: 100%;
	margin: 20px auto;
	left: 2.5%;

	/* border-style: groove; */
}

.rent_range {
	position: relative;
	width: 80%;
	height: 600px;
	/* top: 50px; */
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
	padding: 50px;
}

.create_infor input {
	border-radius: 5px;
	border-style: hidden;
	height: 20px;
	outline: none;
}

.flower_pic {
    position: relative;
    display: block;
    width: 150px;
    height: 15px;
    left: 80%;
    bottom: 66px;
}

.flower_pic img {
	width: 100%;
}

.block2 {
	position: relative;
	width: 100%;
	height: 25px;
	margin: 20px auto 0;
	background-color: rgba(0, 0, 0, 0.425);
	top: 32px;
}

#radio input[type="radio"] {
	display: none;
}

#radio input:checked+.button {
	background: #b08868d8;
	color: #fff;
	cursor: default;
}

#radio .button {
	display: inline-block;
	left: 0;
	padding: 2px 5px;
	background: #f7f7f7;
	color: #333;
	cursor: pointer;
	font-size: 14px;
}

#radio .button:hover {
	background: #bbb;
	color: #fff;
}

#radio .round {
	border-radius: 5px;
}

div .INTRODUCTION {
    width: 100%;
    height: 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8c9;
    font-size: 15px;
    resize: none;
    outline: unset;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 10px;
}

textarea {
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
	outline: unset;
	top: 13px;
    position: relative;
}

.block_pagetop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 90;
	/* border-style: double; */
}

.block_pagetop a {
	border-radius: 80px;
	display: block;
	width: 60px;
	height: 60px;
	background: #EEEEEE;
	opacity: 0.6;
	font-size: 16px;
	position: relative;
	text-align: center;
	line-height: 80px;
	transition: all 0.5s 0s ease;
}

.block_pagetop a span {
	display: block;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -6px;
	width: 12px;
	height: 14px;
	background: url("<%=request.getContextPath()%>/img/activity-img/arrow.png") no-repeat
		center center;
	background-size: 26px auto;
	transition: all 0.5s 0s ease;
}

.hide {
	transform: translateX(120%);
}

div.seatCharts-cell {
	height: 45px;
	width: 45px;
	line-height: 45px;
	margin: 5px 10px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 18px;
}

div.seatCharts-seat {
	background-color: #B9DEA0;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.seatCharts-row {
	height: 35px;
}

/* 可租 */
div.seatCharts-seat.available {
	color: white;
}

/* 游標移到 */
div.seatCharts-seat.focused {
	background-color: #8fac7b;
	color: white;
}

/* 選擇 */
div.seatCharts-seat.selected {
	background-color: #b08868d8;
	color: white;
}

/* 不可租 */
div.seatCharts-seat.unavailable {
	background-color: rgba(192, 192, 192, 0.8);
	color: #FFF;
}

div.seatCharts-container {
	position: relative;
    display: table;
    margin: 0 auto;
    padding: 25px;
}

div.seatCharts-legend {
	padding-left: 0px;
	margin-top: 1%;
	bottom: 16px;
}

ul.seatCharts-legendList {
	list-style-type: none;
	padding-left: 0px;
}

.seatCharts-legendItem {
	float: left;
	width: 90px;
	margin-top: 10px;
	line-height: 2;
}

span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}

.reserve_rent {
	position: relative;
	display: table;
	margin: 20px auto 0;
}

#selected-rent {
	display: inline-flex;
}

#selected-rent li {
	width: 80px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	color: white;
	background: #b08868d8;
	margin: 6px;
	font-size: 18px;
	text-align: center;
}

.totalPrice {
	position: relative;
	display: table;
	margin: 20px auto 0;
}

#totalPrice {
	display: inline-flex;
	font-size: 20px;
}
.act_pic img{
	width: 74%;
}
.act_pic{
    position: relative;
    left: 644px;
    bottom: 205px;
    height: 0px;
    margin-bottom: 30px;
}