.report_content{
    /* border:1px solid red; */
    width: 100%;
    height: 40%;
    padding-left: 3%;
}
.report_content div:first-child{
    font-size: 2.5rem;
    /* border: 1px solid red; */
    margin-top: 3%;
    padding-left: 3%;
    text-decoration: underline;
    color: gray;
}
.report_content div:nth-child(2){
    /* border: 1px solid red; */
    height: 30%;
    width: 80%;
    margin-left: 5%;
}
th, td{
    font-size: 1.5rem;
    padding-top: 4%;
}
div.footer{
    width: 100%;
    /* border: 1px solid red; */
    height: 28%;
}
div.footer div:first-child{
    font-size: 2.5rem;
    /* border: 1px solid red; */
    padding-left: 7%;
    margin-top: 20px;
}
div.footer div:nth-child(2){
    margin-top: 1%;
    padding-left: 2%;
}
input{
    transform: scale(1.1);
}
label{
    font-size: 2rem;
}

textarea{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 2rem;
}
form{
    position: relative;
}
button{
    font-size: 2rem;
    background-color: rgba(135, 206, 250, 0.7);
    margin-left: 5%;   
    border-radius: 10px;
    padding: 0.5% 1%;
    position: absolute;
    bottom: 2%;
    border-style: none;
}