div.worker_data>p {
	font-size: 2.5rem;
	margin: 20px auto;
	width: 200px;
	text-decoration: underline;
	color: gray;
}

div.worker_name p {
	display: inline-block;
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin-left: 4%;
	margin-top: 1%;
	font-size: 2.5rem;
	padding-left: 3%;
	padding-right: 3%;
}

div.worker_maindata {
	display: flex;
	padding-top: 2%;
}

div.worker_maindata img {
	width: 225px;
	height: 225px;
	margin-left: 1%;
	margin-bottom: 5%;
}

div.worker_maindata table {
	margin-left: 3%;
	border: 1px solid grey;
	border-radius: 10px;
	width: 70%;
	/* height: 400px; */
}

th, td {
	font-size: 2.5rem;
}

div.worker_maindata table tr {
	/* align-content: space-around; */
	
}

input {
	font-size: 3rem;
}

div.border {
	position: relative;
	/* border: 1px solid red; */
}

div.border input {
	position: absolute;
	font-size: 1.3rem;
	margin-top: -3.5%;
	margin-left: 1%;
	/* overflow: hidden; */
}

/* div.modify{
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 75%;
} */
div.modify-1 {
	display: inline-block;
	/*     margin-left: 45%; */
	/*     margin-top: 2%; */
	cursor: pointer;
}

div.modify-1:hover {
	color: grey;
}

div.modify_save {
	display: inline-block;
	cursor: pointer;
	margin-left: 60px;
}

div.modify_save:hover {
	color: grey;
}

div.modify {
	display: inline-block;
	height: 50px;
	position: relative;
	margin: 20px;
	left: 262px;
}

div.modify p {
	font-size: 2.5rem;
}

div.modify img {
	width: 30px;
	height: 30px;
}

.none {
	display: none;
}

th {
	text-align: left;
	padding-left: 3%;
	width: 20%;
}